doctype html

div.wrapper(ng-controller="Casting as ctrl", ng-init="section='team'")
    tg-casting-menu
    sidebar.menu-secondary
        include team-filters
    section.main.team
        include mainTitle_agent
        include team-table_agent
