doctype html
div
    include ../../partials/includes/modules/casting/facebook.js
div.home-wrapper.centered
    div.duty-summary
        div(tg-working-on)

    aside.project-list(tg-home-project-list)
